@import url(http://fonts.googleapis.com/css?family=Lora:700);

.todo-container {
  left:30px;
  margin-top:40px;
  width:250px;
  min-height: 40px;
  border: 3px solid #000;
  border-radius: 30px; 
  font-family: Lora;
  font-size: 1.25em;
  vertical-align: center;
}

.save-container {
  position:absolute;
  left:256px;
  top:64px;
}

.todo-text-input {
  width:176px;
  border: none;
  position: relative;
  margin-top: 4px;
  left:16px;
}

.todo-entry {
  background-color: #888; 
  min-height: 40px;
  padding: 5px 12px 0px 0px;
  color:white;
  font-size: 1.25em;

}
.todo-entry:first-child {
  border-radius: 25px 25px 0px 0px; 
}

.todo-entry:last-child {
  border-radius: 0px 0px 25px 25px; 
}

.todo-entry:nth-of-type(even) {
	background-color: #DDD;
	color: black;
}
.icon {
  right: 16px;
}
.icon:hover {
  animation-name: growIcon;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.red {
  position:relative;
  text-shadow:-2px -2px 0 #000,
               2px -2px 0 #000,
              -2px 2px 0 #000,
               2px 2px 0 #000;
  right: 8px;
  color: #F00;
}

.green {
  color: #0F0;
}

.addEntry {
  text-shadow:-2px -2px 0 #000,
               2px -2px 0 #000,
              -2px 2px 0 #000,
               2px 2px 0 #000;
}

.blue {
  color: #00F;
}

@keyframes growIcon {
  from {
    transform:scale(1.0, 1.0);
  }
  to {
    transform:scale(1.2, 1.2);
  }
}
